In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.svm import LinearSVR
import random
import pickle as pkl

In [2]:
random.seed(24)

In [3]:
eco_fac = pd.read_csv('eco_india.csv')
eco_fac.head()

          GDP_US    INFL_US    GDP    PPP       INFL        FER
0  1981  13976.1  10.334710  270.5  3.752  13.112550   8.658523
1  1982  14433.8   6.131427  274.1  3.840   7.890750   9.455132
2  1983  15543.9   3.212435  291.2  4.093  11.868070  10.098898
3  1984  17121.2   4.300536  276.7  4.266   8.318914  11.362583
4  1985  18236.8   3.545644  296.4  4.431   5.556426  12.368750

In [4]:
df = pd.read_csv('weights_15.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.025855,0.125928,0.054118,0.067509,0.037793,0.062103,0.057768,0.093079,0.032104,0.069524,0.053799,0.089232,0.020576,0.195674,0.014940
1,0.024390,0.107464,0.049101,0.059169,0.034891,0.060548,0.056063,0.094063,0.027917,0.074106,0.045950,0.088189,0.022177,0.239667,0.016304
2,0.025450,0.076065,0.035598,0.047638,0.028261,0.041214,0.046687,0.079440,0.030794,0.057839,0.034091,0.071603,0.016388,0.389751,0.019181
3,0.026685,0.087435,0.042064,0.061242,0.031366,0.051220,0.059974,0.104375,0.038531,0.068460,0.035101,0.074283,0.016077,0.283385,0.019803
4,0.028514,0.077057,0.046638,0.060663,0.031233,0.060692,0.060507,0.107761,0.041098,0.076824,0.038589,0.085528,0.015696,0.251406,0.017794

In [5]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [6]:
new_fer = eco_fac.FER.shift(-1)
new_fer = pd.DataFrame(new_fer)
new_fer.rename(columns = {'FER':'NEXT_YR_FER'}, inplace=True)

In [7]:
data = pd.concat([eco_fac,new_fer],axis=1)
data.head()

          GDP_US    INFL_US    GDP    PPP       INFL        FER  NEXT_YR_FER
0  1981  13976.1  10.334710  270.5  3.752  13.112550   8.658523     9.455132
1  1982  14433.8   6.131427  274.1  3.840   7.890750   9.455132    10.098898
2  1983  15543.9   3.212435  291.2  4.093  11.868070  10.098898    11.362583
3  1984  17121.2   4.300536  276.7  4.266   8.318914  11.362583    12.368750
4  1985  18236.8   3.545644  296.4  4.431   5.556426  12.368750    12.610833

In [14]:
data = pd.concat([df,data],axis=1)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,GDP,FER,NEXT_YR_FER
0,0.025855,0.125928,0.054118,0.067509,0.037793,0.062103,0.057768,0.093079,0.032104,0.069524,0.053799,0.089232,0.020576,0.195674,0.014940,270.5,8.658523,9.455132
1,0.024390,0.107464,0.049101,0.059169,0.034891,0.060548,0.056063,0.094063,0.027917,0.074106,0.045950,0.088189,0.022177,0.239667,0.016304,274.1,9.455132,10.098898
2,0.025450,0.076065,0.035598,0.047638,0.028261,0.041214,0.046687,0.079440,0.030794,0.057839,0.034091,0.071603,0.016388,0.389751,0.019181,291.2,10.098898,11.362583
3,0.026685,0.087435,0.042064,0.061242,0.031366,0.051220,0.059974,0.104375,0.038531,0.068460,0.035101,0.074283,0.016077,0.283385,0.019803,276.7,11.362583,12.368750
4,0.028514,0.077057,0.046638,0.060663,0.031233,0.060692,0.060507,0.107761,0.041098,0.076824,0.038589,0.085528,0.015696,0.251406,0.017794,296.4,12.368750,12.610833

In [15]:
data = data.dropna()

In [16]:
data.shape

(38, 18)

In [17]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,GDP,FER,NEXT_YR_FER
0,0.025855,0.125928,0.054118,0.067509,0.037793,0.062103,0.057768,0.093079,0.032104,0.069524,0.053799,0.089232,0.020576,0.195674,0.014940,270.5,8.658523,9.455132
1,0.024390,0.107464,0.049101,0.059169,0.034891,0.060548,0.056063,0.094063,0.027917,0.074106,0.045950,0.088189,0.022177,0.239667,0.016304,274.1,9.455132,10.098898
2,0.025450,0.076065,0.035598,0.047638,0.028261,0.041214,0.046687,0.079440,0.030794,0.057839,0.034091,0.071603,0.016388,0.389751,0.019181,291.2,10.098898,11.362583
3,0.026685,0.087435,0.042064,0.061242,0.031366,0.051220,0.059974,0.104375,0.038531,0.068460,0.035101,0.074283,0.016077,0.283385,0.019803,276.7,11.362583,12.368750
4,0.028514,0.077057,0.046638,0.060663,0.031233,0.060692,0.060507,0.107761,0.041098,0.076824,0.038589,0.085528,0.015696,0.251406,0.017794,296.4,12.368750,12.610833
5,0.026763,0.065335,0.035236,0.052670,0.025731,0.052264,0.047317,0.098449,0.031422,0.054511,0.030486,0.067872,0.012871,0.376813,0.022260,310.5,12.610833,12.961500
6,0.025201,0.064009,0.031598,0.044123,0.023431,0.045257,0.040083,0.088396,0.025496,0.038581,0.025239,0.056042,0.011981,0.458331,0.022232,340.4,12.961500,13.917083
7,0.027945,0.087123,0.040085,0.059586,0.030004,0.056853,0.061352,0.114146,0.035187,0.056659,0.031126,0.066493,0.017816,0.297039,0.018587,354.1,13.917083,16.225500
8,0.023022,0.060581,0.030364,0.047476,0.022982,0.043616,0.043212,0.094296,0.027974,0.039163,0.025089,0.040992,0.009673,0.469564,0.021995,346.1,16.225500,17.503500
9,0.030401,0.089313,0.047727,0.069226,0.035643,0.069991,0.069092,0.109811,0.035336,0.058600,0.037666,0.064204,0.023158,0.238007,0.021825,367.6,17.503500,22.742433
10,0.033537,0.101654,0.058697,0.061219,0.035433,0.091602,0.094137,0.107855,0.044661,0.064959,0.038086,0.074107,0.034155,0.143165,0.016733,303.1,22.742433,25.918083
11,0.023775,0.080263,0.048603,0.048649,0.025613,0.073273,0.079076,0.094562,0.033933,0.042521,0.030201,0.053564,0.013213,0.336071,0.016681,317.0,25.918083,30.493292
12,0.022977,0.097988,0.055030,0.049804,0.028303,0.087580,0.090378,0.109508,0.037271,0.050749,0.032871,0.059879,0.015152,0.252218,0.010292,301.2,30.493292,31.373742
13,0.026886,0.105887,0.052329,0.052186,0.029151,0.099142,0.101598,0.124628,0.036508,0.054004,0.031958,0.057780,0.013839,0.204066,0.010039,346.1,31.373742,32.427077
14,0.030764,0.108997,0.050001,0.048950,0.029561,0.098882,0.094884,0.152190,0.038093,0.049105,0.033299,0.049231,0.012412,0.191779,0.011852,373.8,32.427077,35.433173
15,0.028805,0.140090,0.054503,0.072438,0.032177,0.119092,0.118111,0.183190,0.036934,0.070751,0.044073,0.051296,0.017930,0.015091,0.015519,400.0,35.433173,36.313286
16,0.037556,0.142908,0.058745,0.070302,0.034156,0.134825,0.114685,0.181455,0.037254,0.051249,0.037460,0.052939,0.016271,0.014745,0.015449,415.5,36.313286,41.259365
17,0.038518,0.137198,0.057936,0.061397,0.037022,0.162782,0.119056,0.159837,0.033792,0.049104,0.036732,0.058495,0.020776,0.012813,0.014541,413.3,41.259365,43.055428
18,0.031665,0.120708,0.050551,0.065564,0.039911,0.176720,0.132737,0.153215,0.027943,0.063804,0.036337,0.057259,0.014526,0.011389,0.017672,442.0,43.055428,44.941605
19,0.023984,0.128524,0.051307,0.070295,0.031016,0.192091,0.147976,0.151639,0.023514,0.049155,0.039722,0.046503,0.016468,0.010524,0.017283,443.3,44.941605,47.186414
20,0.022917,0.133172,0.059663,0.076192,0.036498,0.170478,0.130280,0.118058,0.022759,0.080496,0.039966,0.066205,0.018728,0.008771,0.015817,451.6,47.186414,48.610319
21,0.026326,0.119168,0.059335,0.087923,0.033643,0.160565,0.103596,0.134817,0.020245,0.089163,0.037782,0.074300,0.029015,0.008184,0.015938,471.0,48.610319,46.583284
22,0.026944,0.116409,0.059325,0.084063,0.028355,0.150039,0.093415,0.117204,0.019936,0.106812,0.040496,0.080407,0.049886,0.008849,0.017860,546.7,46.583284,45.316467
23,0.023615,0.116216,0.056163,0.099524,0.028862,0.149672,0.106921,0.135392,0.023907,0.099963,0.039176,0.060454,0.035397,0.008326,0.016413,627.8,45.316467,44.099975
24,0.022984,0.103415,0.062632,0.119024,0.032812,0.161706,0.097721,0.116662,0.023945,0.103328,0.042510,0.059407,0.030451,0.005355,0.018047,714.9,44.099975,45.307008
25,0.038971,0.086718,0.048876,0.095572,0.029677,0.161472,0.082598,0.234655,0.012225,0.076809,0.034855,0.049356,0.026458,0.004639,0.017118,806.8,45.307008,41.348533
26,0.064115,0.091973,0.049265,0.072850,0.026169,0.178756,0.076894,0.255159,0.010301,0.065258,0.030301,0.043460,0.019014,0.004172,0.012314,1028.3,41.348533,43.505183
27,0.076992,0.106106,0.062991,0.078446,0.027618,0.192730,0.079652,0.189643,0.014347,0.060653,0.029143,0.049748,0.015372,0.003979,0.012578,998.5,43.505183,48.405267
28,0.079680,0.080157,0.092003,0.088619,0.025673,0.204950,0.078413,0.164005,0.013612,0.061093,0.024423,0.057293,0.013892,0.004119,0.012069,1102.0,48.405267,45.725812
29,0.066790,0.074945,0.094000,0.090931,0.031309,0.203829,0.079137,0.156269,0.014332,0.066134,0.026215,0.063601,0.013753,0.003506,0.015249,1357.6,45.725812,46.670467
30,0.034642,0.071790,0.083724,0.127241,0.040834,0.195184,0.068715,0.055748,0.011450,0.148563,0.035055,0.076748,0.028532,0.002884,0.018890,1458.1,46.670467,53.437233
31,0.025325,0.054908,0.091685,0.141906,0.045670,0.200565,0.075507,0.038765,0.011205,0.145498,0.034802,0.076192,0.032905,0.002766,0.022302,1443.9,53.437233,58.597845
32,0.021025,0.050181,0.084376,0.128374,0.042121,0.224394,0.073854,0.035311,0.009233,0.140940,0.039831,0.093559,0.035558,0.002310,0.018933,1449.6,58.597845,61.029514
33,0.031166,0.043705,0.081959,0.128943,0.047994,0.238821,0.067966,0.042655,0.007403,0.152183,0.028983,0.075973,0.032831,0.003501,0.015918,1573.9,61.029514,64.151944
34,0.033239,0.056809,0.081608,0.122011,0.039913,0.205490,0.072749,0.084694,0.010031,0.134686,0.034196,0.069233,0.032316,0.002883,0.020144,1605.6,64.151944,67.195313
35,0.029945,0.044012,0.074495,0.133313,0.043426,0.242211,0.078251,0.073906,0.008327,0.122124,0.040677,0.063249,0.023153,0.002682,0.020229,1732.6,67.195313,65.121569
36,0.023648,0.036464,0.076066,0.141965,0.047901,0.241207,0.069979,0.060902,0.006132,0.116910,0.051112,0.084179,0.023138,0.002179,0.018216,1981.7,65.121569,68.389467
37,0.021335,0.043625,0.075268,0.145327,0.053148,0.246785,0.073906,0.053800,0.004989,0.109707,0.050993,0.080106,0.021931,0.001843,0.017236,2005.9,68.389467,70.419969

In [23]:
2019-2011

8

In [24]:
data.iloc[2018-1981,:].values

array([2.13351398e-02, 4.36247614e-02, 7.52677468e-02, 1.45327007e-01,
       5.31480134e-02, 2.46785489e-01, 7.39064981e-02, 5.38001246e-02,
       4.98855526e-03, 1.09706994e-01, 5.09929441e-02, 8.01064048e-02,
       2.19309983e-02, 1.84339911e-03, 1.72359251e-02, 2.00590000e+03,
       6.83894670e+01, 7.04199690e+01])

In [12]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [14]:
minmax = MinMaxScaler()
scaler = StandardScaler()

In [15]:
X_s = scaler.fit_transform(X) # standard scaled data
X_m = minmax.fit_transform(X) # minmax scaled data

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=None)
X_train_s, X_test_s, y_train, y_test = train_test_split(X_s, y, test_size=0.2, random_state=None)
X_train_m, X_test_m, y_train, y_test = train_test_split(X_m, y, test_size=0.2, random_state=None)

In [20]:
# Change model here

from sklearn.model_selection import cross_val_score
score = cross_val_score(LinearSVR(C=25.0, dual=False, epsilon=0.0001, loss="squared_epsilon_insensitive", tol=1e-05), X_train, y_train, cv=5, scoring='neg_mean_squared_error')
score.mean()

-377.1490621239258

In [21]:
# Change model here

score = cross_val_score(LinearSVR(C=25.0, dual=False, epsilon=0.0001, loss="squared_epsilon_insensitive", tol=1e-05), X_train_m, y_train, cv=5, scoring='neg_mean_squared_error')
score.mean()

-5.997514118192359

In [22]:
# Change model here

score = cross_val_score(LinearSVR(C=25.0, dual=False, epsilon=0.0001, loss="squared_epsilon_insensitive", tol=1e-05), X_train_s, y_train, cv=5, scoring='neg_mean_squared_error')
score.mean()

-891.5935253046366

In [24]:
# Original 
model_orig = LinearSVR(C=25.0, dual=False, epsilon=0.0001, loss="squared_epsilon_insensitive", tol=1e-05) # change model here
model_orig.fit(X_train, y_train)
pred = model_orig.predict(X_test)
print('MSE :',mean_squared_error(pred, y_test))
print('R2 :',r2_score(pred,y_test))
print('Error :',((y_test-pred)/y_test).mean())

MSE : 329.6558574251652
R2 : -23.044914256258544
Error : -0.30056321311489687

In [25]:
(y_test-pred) # check the variations

36    27.242135
25     7.411177
27    14.429089
31    18.793466
11   -11.752471
20     4.512502
3    -28.378528
8    -17.747404
Name: NEXT_YR_FER, dtype: float64

In [28]:
# MinMax Scaled 
model_minmax = LinearSVR(C=25.0, dual=False, epsilon=0.0001, loss="squared_epsilon_insensitive", tol=1e-05) # Change model here
model_minmax.fit(X_train_m, y_train)
pred = model_minmax.predict(X_test_m)
print('MSE :',mean_squared_error(pred, y_test))
print('R2 :',r2_score(pred,y_test))
print('Error : ',((y_test-pred)/y_test).mean())

MSE : 13.423766793086806
R2 : 0.9563652999582131
Error :  0.014677947093645482

In [29]:
(y_test-pred) # check the variation

36    3.340412
25   -4.949296
27    6.876460
31   -0.523200
11    4.410520
20    1.665569
3    -1.380054
8    -0.213223
Name: NEXT_YR_FER, dtype: float64

In [30]:
# Standard Scaled 
model_stand = LinearSVR(C=25.0, dual=False, epsilon=0.0001, loss="squared_epsilon_insensitive", tol=1e-05) # Change model here
model_stand.fit(X_train_s, y_train)
pred = model_stand.predict(X_test_s)
print('MSE :',mean_squared_error(pred, y_test))
print('R2 :',r2_score(pred,y_test))
print('Error : ',((y_test-pred)/y_test).mean())

MSE : 451.9503980923193
R2 : -1.7452675888206137
Error :  -0.48877531659482565

In [31]:
(y_test-pred) # check the variations

36    29.516058
25    -2.853654
27    -0.923537
31    11.235929
11    13.514586
20   -17.805047
3    -34.557122
8    -30.254004
Name: NEXT_YR_FER, dtype: float64

In [32]:
# Save the best perform ming model only after instructions

# pkl.dump(model_minmax, open('model_india.pkl','wb'))

In [33]:
# dont uncomment until said to
# if we use scaling
# pkl.dump(minmax, open('scaler_india.pkl','wb'))

In [26]:
np.round(72.69/109.02,2)

0.67